<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/resources/css/styles.css">
	<link rel="stylesheet" type="text/css" href="../static/resources/css/queries.css">
    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" type="text/css" href="../static/vendors/css/magnific-popup.css">
    <script src="../static/vendors/js/jquery.magnific-popup.js"></script>
    <title>single property</title>


</head>
<body>

        <div class="row">
			<div class="video_wrapper">
				<iframe src="{{mlink}}" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
</body>
</html>